<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>5/52.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 693}, {197, 302}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {197, 302}}</string>
			<key>sourceSize</key>
			<string>{197, 302}</string>
		</dict>
		<key>5/5_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {898, 690}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{63, 39}, {898, 690}}</string>
			<key>sourceSize</key>
			<string>{1024, 768}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>5.pvr.ccz</string>
	</dict>
</dict>
</plist>
